<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="civicgraph.io" />
          </conditions>
          <action type="Redirect" url="https://www.civicgraph.io/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
