<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<div class="control-panel">
    <div class='logo'>
        <img src="../../img/civicgraph.png" width="85%">
    </div>
    <hr>
    <div class="control-panel-content">
        <h3>Number of Connections: {{ control.minConnections }}</h3>
        <input class="slider"
               type="range"
               title="Minimum Number of Connections"
               ng-model="control.minConnections"
               min="0"
               max="60">

        <!-- Types: Collapsible Panel -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">
                            <div class="col-xs-9">
                                <h3>Types</h3>
                            </div>
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class='control-input' ng-repeat='(type, enabled) in control.entityTypes'>
                        <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
                            <input type='checkbox' ng-model='control.entityTypes[type]'
                                   ng-change='control.toggleNode(type)'></label>
                        <span class='caption'>{{type}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Connections: Collapsible Panel -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">
                            <div class="col-xs-9">
                                <h3>Connections</h3>
                            </div>
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">

                    <div class='control-input' ng-repeat='(type, enabled) in control.connectionTypes'>
                        <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
                            <input type='checkbox' ng-model='control.connectionTypes[type]'
                                   ng-change='control.toggleLink(type)'></label>
                        <span class='caption'>{{type}}</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- Size By: Collapsible Panel -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse3">

                            <div class="col-xs-9">
                                <h3>Size By</h3>
                            </div>
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>

                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">

                    <div class='control-input' ng-repeat='sizeBy in control.sizeByList'>
                        <label class='checkbox radio' ng-class="{'unchecked': control.sizeBy != sizeBy.value}"
                               ng-model='control.sizeBy' btn-radio='sizeBy.value'
                               ng-change='control.changeSizeBy()'></label>
                        <span class='caption'>{{sizeBy.name}}</span>
                    </div>

                </div>
            </div>
        </div>

        <h3>View</h3>
        <div class="switch switch-blue">
            <input type="radio" class="switch-input" name="view2" ng-value="true"
                   ng-model="toggleNetwork" id="week2" checked>
            <label for="week2" class="switch-label switch-label-off">Network</label>
            <input type="radio" class="switch-input" name="view2" ng-value="false"
                   ng-model="toggleNetwork" id="month2">
            <label for="month2" class="switch-label switch-label-on">Map</label>
            <span class="switch-selection"></span>
        </div>

        <div ng-if='!mobile' class='analyticsDesktopContainer'>
            <a target="_blank" href="/js/analytic/analytics.html">
                <button class='analyticsButton'>
                    <div class="col-xs-1" id="row">
                    <img class="PowerBI" src="../../img/powerBI.png" width="30">
                    </div>
                    <div class="col-xs-9" id="powerBI-label">
                    <h6>Power BI Analytics</h6>
                </button>
            </a>
        </div>

    </div>

    <div class="license">
        <p>An open-source project by <a href="https://www.microsoft.com/" target='_blank'>
            <img alt="Microsoft" src="../../img/msftlogogrey.png" width="80"></a>.
            <a ng-click='showAbout()' href=''>Learn more</a></p>

    </div>
</div>
