<div class="control-panel">
    <div class='logo'>
        <img src="../../img/civicgraph.png" width="85%">
    </div>

    <div class="control-panel-content">
        <h3>Types</h3>
        <div class='control-input' ng-repeat='(type, enabled) in control.entityTypes'>
            <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
                <input type='checkbox' ng-model='control.entityTypes[type]' />
            </label>
            <span class='caption'>{{type}}</span>
        </div>

        <h3>Connections: {{ control.minConnection }}</h3>
        <div class='control-input' ng-repeat='(type, enabled) in control.connectionTypes'>

            <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
                <input type='checkbox' ng-model='control.connectionTypes[type]' />
            </label>

            <span class='caption'>{{type}}</span>

        </div>

        <!--Number of Connections Slider-->
        <input class="slider"
               type="range"
               title="Minimum Number of Connections"
               ng-model="control.minConnection"
               ng-model-options="{debounce: 500}"
               ng-change="control.changeMinConnection()"
               min="0"
               max="25">

        <h3>Size By</h3>
        <div class='control-input' ng-repeat='sizeBy in control.sizeByList'>
            <label class='checkbox radio'
                   uib-btn-radio='sizeBy.value'
                   ng-class="{'unchecked': control.sizeBy != sizeBy.value}"
                   ng-model='control.sizeBy'
                   ng-change='control.changeSizeBy()'
            ></label>
            <span class='caption'>{{sizeBy.name}}</span>
        </div>

        <h3>View</h3>
        <div class="switch switch-blue">
            <input type="radio"
                   id="week2"
                   class="switch-input"
                   name="view2"
                   ng-value="'network'"
                   ng-model="control.currentView"
                   ng-change="control.changeView()"
            >
            <label for="week2" class="switch-label switch-label-off">Network</label>

            <input type="radio"
                   id="month2"
                   class="switch-input"
                   name="view2"
                   ng-value="'map'"
                   ng-model="control.currentView"
                   ng-change="control.changeView()"
            >
            <label for="month2" class="switch-label switch-label-on">Map</label>
            <span class="switch-selection"></span>
        </div>

        <div ng-if='!mobile' class='analyticsDesktopContainer'>
            <a target="_blank" href="js/analytic/analytics.html">
                <button class='analyticsButton'>Power BI Analytics</button>
            </a>
        </div>

    </div>

    <div class="license">
        <p>An open-source project by <a href="https://www.microsoft.com/" target='_blank'>
            <img alt="Microsoft" src="../../img/msftlogogrey.png" width="80"></a>.
            <a ng-click='showAbout()' href=''>Learn more</a></p>

    </div>
</div>
